


/*-------bg--------*/
.bg-1{
    background-image: url(../../assets/images/OneDrive-2018-07-07/IMG_4272.JPG);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #30777b;
    background-blend-mode: multiply;
}
/*-------bg--------*/

/*---------paydetails---------*/
.pay-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




/*---------paydetails end---------*/

/*-----index-------*/

.pro_frame-crad{
    position:relative;
    overflow: hidden;
    width: 100%;
    height: 740px;

}
.pro_card-img-top {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.pro_frame-crad-1{
    position:relative;
    overflow: hidden;
    width: 100%;
    height:315px;

}
.pro_card-img-top-1 {
    position:absolute;
    top:72%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
		padding: 15px 15px 100px 15px;
}

.in-dex-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    border-top-color: #FFC107;
    width: 103%;
}
.pro_text_topics{
	font-size: 20px;
	font-weight: 600;

}
.btn-secondary {
      background-color: #031f25;
      width: 350px;
      height: 70px;
      border-radius: 0px;
      color: white;
      border: 5px ;
      transition: all 0.3s;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
      font-family: "kanitlight";
      font-size: 30px;
}

/*-----index end---*/

/*-----paydetails---------*/
.pay-bg-top{
  background-color: #083d6a;
  padding: 10px 0px 10px 0px;
  color: white;
}
.pay-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 95%;
}
.btn-primary-pay {
    color: #fff;
    background-color: #0a3f6b;
    border-color: #0a3f6b;
}
.btn-primary-pay:hover {
  color: #fff;
  background-color: #0a3f6bcf;
  border-color: #0a3f6b;
}
.pay-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 30px 10px 30px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}



/*-----paydetails end-----*/

/*------*



@media(max-width: 1366px){
  /*----------- NAVBAR (1366)------------------*/

  /*----------END NAVBAR (1366)------------*/


  /*---------- FOOTER (1366)------------*/

  /*----------END FOOTER (1366)------------*/
}


@media(max-width: 1024px){

/*-----------about 1024------------------*/
.pro_frame-crad {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 620px;
}
/*-----------about 1024 end--------------*/

/*------------index 1024-----------------*/
.pro_card-img-top-1 {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 15px 15px 100px 15px;
}

.pro_frame-crad-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 273px;
}
/*-------------index 1024 end------------*/

/*--------------pay 1024-----------------*/
.pay-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
/*-------------pay 1024 end--------------*/

}
@media(max-width: 768px){

  /*-----------index 768-------------------*/
  .in-dex-card{
    width: 100%;
  }
  .pro_card-img-top-1 {
    position: absolute;
    top: 75%;
}
.pro_frame-crad-1 {
    height: 300px;
}
.btn-secondary{
    width: 100%;
}

  /*-----------index 768 end---------------*/

  /*-----------about 768------------------*/
  .pro_frame-crad {
    height: 460px;
}
  /*-----------about 768 end--------------*/

  /*--------------pay 1024-----------------*/
  .pay-card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      width: 100%;
  }
  /*-------------pay 1024 end--------------*/





}
@media(max-width: 414px){

  /*------about 414--------*/
  .pro_frame-crad {
    height: 256px;
}
/*--------about end 414-------*/

/*--------index 414-----------*/
.pro_card-img-top-1 {
    position: absolute;
    top: 72%;
}
.pro_frame-crad-1 {
    height: 330px;
}
/*--------index 414 end-------*/

}

@media(max-width: 375px){

/*-------index 375--------------*/
.pro_frame-crad-1 {
    height: 300px;
}
.pro_card-img-top-1 {
    top: 74%;
}
/*-------index 375 end-----------*/

}
@media(max-width: 320px){

  /*--------index 320------------*/
  .pro_card-img-top-1 {
    top: 78%;

}
.pro_frame-crad-1 {
    height: 260px;
}
.btn-secondary {
    width: 100%;

}
/*-------------index 320 end--------*/
}
