@font-face {
    font-family: 'cs_prakasregular';
    src: url('../../assets/fonts/cs-prakas/csprakas-webfont.woff2') format('woff2'),
         url('../../assets/fonts/cs-prakas/csprakas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cs_prakasbold';
    src: url('../../assets/fonts/cs-prakas/csprakasbold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/cs-prakas/csprakasbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cs_prakasfdregular';
    src: url('../../assets/fonts/cs-prakas/csprakasfd-webfont.woff2') format('woff2'),
         url('../../assets/fonts/cs-prakas/csprakasfd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cs_prakasfdbold';
    src: url('../../assets/fonts/cs-prakas/csprakasfdbold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/cs-prakas/csprakasfdbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,label,p,h1,h2,h3,h4,h5 {
      font-family: "cs-cs_prakasregular",sans-serif;
}


/*-------bg--------*/
.bg-1{
    background-image: url(../../assets/images/OneDrive-2018-07-07/IMG_4272.JPG);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #30777b;
    background-blend-mode: multiply;
}
/*-------bg--------*/

/*---------paydetails---------*/
.custom-file-upload {
  border: 1px solid #545050;
/* display: inline-block; */
/* padding: 0px 33px; */
  cursor: pointer;
  padding: 11px 30px 0px 37px;
  height: 45px;
  background-color: #8e8b8b;
  color: #ffffff;
  font-family: 'Roboto';

}
input[type="file"] {
    display: none;
}

.pay-bg-top{
  background-color: #083d6a;
  padding: 10px 0px 10px 0px;
  color: white;
  font-size: 20px;
  font-family: "cs-cs_prakasregular",sans-serif;
}
.pay-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
.btn-primary-pay {
    background-color: #1e3d70;
    color: white;
    width: 200px;
    height: 55px;
    font-size: 20px;
    font-family: 'Roboto'!important;
    margin-top: 10px;
    transition: all 0.3s;
}
.btn-primary-pay:hover {
  background-color: #fff;
  border: 2px solid #1e3d70;
  color: #1e3d70;
  width: 200px;
  height: 55px;
  font-size: 20px;
font-family: 'Roboto'!important;
  margin-top: 10px;
  transition: all 0.3s;
}
.pay-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 30px 10px 30px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
      font-family: "cs-cs_prakasregular",sans-serif;
}
.pay-icon {
    font-size: 25px;
    color: #76c764;
    padding-top: 40px;
}
.pay-confirm-font{
  font-size: 18px;
  font-weight: 600;
    font-family: "cs-cs_prakasregular",sans-serif;
}
.pay-en-text{
  font-size: 16px;
  font-family: 'Roboto';

}
.pay-form-control {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 300;
    background-size: 20px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #1e3d70;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Roboto';

}
.paycon-selected {
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 13px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto';


}
.paycon-selected-1 {
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 13px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    width: 100%;
    height: 45px;
    font-size: 13px;
    font-weight: 300;
      font-family: "cs-cs_prakasregular",sans-serif;

}
/**/
.pay-select{
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pay-select input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    border:2px solid #1e3d70;
}
.pay-select input:checked ~ .checkmark {
    background-color: #fff;
    border :2px solid #1e3d70;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.pay-select input:checked ~ .checkmark:after {
    display: block;
}
.pay-select .checkmark:after {
    top: 3px;
    left: 3px;
    padding: 5px;
    border-radius: 50%;
    background-color: #1e3d70;
}
/**/

.pay-select-1{
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pay-select-1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark-1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    border:2px solid #1e3d70;
}
.pay-select-1 input:checked ~ .checkmark-1 {
    background-color: #fff;
    border :2px solid #1e3d70;
}
.checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
}
.pay-select-1 input:checked ~ .checkmark-1:after {
    display: block;
}
.pay-select-1 .checkmark-1:after {
    top: 3px;
    left: 3px;
    padding: 5px;
    border-radius: 50%;
    background-color: #1e3d70;
}





/*---------paydetails end---------*/

/*-----index-------*/

.pro_frame-crad{
    position:relative;
    overflow: hidden;
    width: 100%;
    height: 740px;

}
.pro_card-img-top {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.img-frame{
  position:relative;
  overflow: hidden;
  width: 100%;
  height: 290px;


}

.card-img-top{
  width: 100%;
  position: absolute;
  transition:  all 0.5s;
  border-radius: 0px;
  transform: scale(1.5);
  top: 50px;

}


.card-img-top:hover{
    width: 100%;
    position: absolute;
    transform: scale(1.7);
    transition: all 0.5s;
    opacity: 0.9;

}

.pro_frame-crad-1{
    position:relative;
    overflow: hidden;
    width: 100%;
    height:315px;

}
.pro_card-img-top-1 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;

}



.in-dex-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    border-top-color: #FFC107;
    width: 103%;
    padding: 15px 15px 15px 15px;
}
.pro_text_topics{
	font-size: 22px;
	font-weight: 600;

}
.btn-secondary {
  background-color: #000!important;
  width: 350px;
  height: 70px;
  border-radius: 0px;
  color: white;
  border: 5px;
  transition: all 0.3s;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
  font-family: "cs-cs_prakasregular",sans-serif;
  font-size: 30px;
}


/*-----index end---*/







@media(max-width: 1366px){
  /*----------- NAVBAR (1366)------------------*/

  /*----------END NAVBAR (1366)------------*/


  /*---------- FOOTER (1366)------------*/

  /*----------END FOOTER (1366)------------*/
}


@media(max-width: 1024px){

/*-----------about 1024------------------*/
.pro_frame-crad {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 620px;
}
/*-----------about 1024 end--------------*/

/*------------index 1024-----------------*/
.pro_card-img-top-1 {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 15px 15px 100px 15px;
}

.pro_frame-crad-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 270px !important;
}
.btn-secondary {
  background-color: #031f25 !important;
  width: 300px;
  height: 70px;
  border-radius: 0px;
  color: white;
  border: 5px;
  transition: all 0.3s;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    font-family: "cs-cs_prakasregular",sans-serif;
  font-size: 30px;
}
.btn-secondary:hover {
  background-color: #1c3c6f !important;
  width: 300px;
  height: 70px;
  border-radius: 0px;
  color: white;
  border: 5px;
  transition: all 0.3s;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    font-family: "cs-cs_prakasregular",sans-serif;
  font-size: 30px;
}
.paycon-selected {
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 13px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    width: 100%;
    height: 45px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto';
}
.pay-form-control {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 12px;
    font-weight: 300;
    background-size: 20px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #1e3d70;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Roboto';
}
.paycon-selected-1 {
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 13px;
    -webkit-appearance: none!important;
    padding: 7px 8px!important;
    width: 100%;
    height: 45px;
    font-size: 12px;
    font-weight: 300;
    font-family: "cs-cs_prakasregular",sans-serif;
}
.img-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 230px;
}
.pay-en-text {
    font-size: 14px!important;
    font-weight: 600;
    font-family: 'cs_prakasfdbold';
}

/*-------------index 1024 end------------*/

/*--------------pay 1024-----------------*/
.pay-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
.pay-confirm-font {
    font-size: 15px;
    font-weight: 600;
}
.pay-en-text{
  font-size: 16px;
  font-weight: 600;
  font-family: 'cs_prakasfdbold';

}
.custom-file-upload {
    border: 1px solid #545050;
    /* display: inline-block; */
    /* padding: 0px 33px; */
    cursor: pointer;
    padding: 11px 13px 0px 22px;
    height: 45px;
    background-color: #8e8b8b;
    color: #ffffff;
    font-size: 16px;
}
/*-------------pay 1024 end--------------*/

}
@media(max-width: 768px){

  /*-----------index 768-------------------*/
  .in-dex-card{
    width: 100%;
  }
  .pro_card-img-top-1 {
    position: absolute;
    top: 75%;
}
.pro_frame-crad-1 {
    height: 300px;
}
.btn-secondary {
  background-color: #031f25 !important;
  width: 300px;
  height: 70px;
  border-radius: 0px;
  color: white;
  border: 5px;
  transition: all 0.3s;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    font-family: "cs-cs_prakasregular",sans-serif;
  font-size: 25px;
}
.btn-secondary:hover {
  background-color: #1c3c6f !important;
  width: 300px;
  height: 70px;
  border-radius: 0px;
  color: white;
  border: 5px;
  transition: all 0.3s;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    font-family: "cs-cs_prakasregular",sans-serif;
  font-size: 25px;
}
.paycon-selected {
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 13px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    width: 100%;
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto';
}
.pay-form-control {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    background-size: 20px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #1e3d70;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Roboto';
}
.paycon-selected-1 {
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 13px;
    -webkit-appearance: none!important;
    padding: 7px 8px!important;
    width: 100%;
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    font-family: "cs-cs_prakasregular",sans-serif;
}


  /*-----------index 768 end---------------*/

  /*-----------about 768------------------*/
  .pro_frame-crad {
    height: 460px;
}
  /*-----------about 768 end--------------*/

  /*--------------pay 768-----------------*/
  .pay-card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      width: 100%;
  }
  .custom-file-upload {
      border: 1px solid #545050;
      /* display: inline-block; */
      /* padding: 0px 33px; */
      cursor: pointer;
      padding: 10px 55px 0px 60px;
      height: 45px;
      background-color: #8e8b8b;
      color: #ffffff;
      font-size: 16px;
  }
  /*-------------pay 768 end--------------*/





}
@media(max-width: 414px){

  /*------about 414--------*/
  .pro_frame-crad {
    height: 256px;
}
/*--------about end 414-------*/

/*--------index 414-----------*/
.pro_card-img-top-1 {
    position: absolute;
    top: 72%;
}
.pro_frame-crad-1 {
    height: 330px;
}
.img-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 280px;
}
/*--------index 414 end-------*/

/*---------pay 414--------------*/
.custom-file-upload {
    border: 1px solid #545050;
    /* display: inline-block; */
    /* padding: 0px 33px; */
    cursor: pointer;
    padding: 10px 50px 10px 50px;
    height: 45px;
    background-color: #8e8b8b;
    color: #ffffff;
    font-size: 16px;
}
.pay-en-text {
    font-size: 14px;
    font-weight: 600;
    font-family: 'cs_prakasfdbold';
}
/*--------pay 414 end-------------*/

}

@media(max-width: 375px){

  /*------------about 375----------*/

  .pro_frame-crad {
    height: 230px;
}
  /*------------about 375 end------*/

/*-------index 375--------------*/
.pro_frame-crad-1 {
    height: 300px;
}
.pro_card-img-top-1 {
    top: 74%;
}
.img-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 260px;
}
/*-------index 375 end-----------*/

}
@media(max-width: 320px){

  /*----------about 320 ------------*/
  .pro_frame-crad {
    height: 190px;
}
  /*----------about 320 end----------*/

  /*--------index 320------------*/
  .pro_card-img-top-1 {
    top: 78%;

}
.pro_frame-crad-1 {
    height: 260px;
}
.img-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 220px;
}
/*-------------index 320 end--------*/
}
